.education{
  background:#eaf0ff;
  padding:80px 10%;
}

.education h2{
  text-align:center;
  font-size:50px;
  color:#111;
  margin-bottom:10px;
}

.education h2 span{
  color:#6a00ff;
}

.subtitle{
  text-align:center;
  font-size:18px;
  margin-bottom:50px;
}

.edu-card{
  display:flex;
  background:#fff;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:20px;
  box-shadow:0 8px 20px rgba(0,0,0,.15);
  transition:.3s;
}

.edu-card:hover{
  transform:translateY(-5px);
}

.edu-card img{
  width:320px;
  height:300px;
  object-fit:cover;
}

.edu-content{
  padding:30px;
  flex:1;
}

.edu-content h3{
  color:#0d2c78;
  font-size:34px;
  margin-bottom:15px;
}

.edu-content h4{
  font-size:24px;
  margin-bottom:15px;
}

.score{
  font-size:22px;
  color:#444;
  font-weight:600;
}

.duration{
  color:#555;
  margin-top:10px;
  font-size:18px;
}

.status{
  display:inline-block;
  margin-top:15px;
  color:#1b7d0d;
  font-weight:700;
  font-size:20px;
}

@media(max-width:768px){

  .edu-card{
    flex-direction:column;
  }

  .edu-card img{
    width:100%;
    height:220px;
  }

  .education h2{
    font-size:36px;
  }

  .edu-content h3{
    font-size:24px;
  }
}

.education h2 i{
  color:#000;
  margin-right:10px;
  font-size:45px;
}